.LeftNav{
  background: #2F323A;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 200px;
  height:100%;
}

.LeftNav h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.LeftNav a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition-property: background;
}

.LeftNav a:hover{
  background: #19B3D3;
}
