.Body {
    padding-left: 30%;
}

.main_area h3{
    color :#357EC7;
    font-size: 20px;
    font-weight: 200;
    margin-top: 70px;
    font-weight: 600; 

}

.main_area h2{
    color: #357EC7;
    font-size : 15px;
    margin-top: 10px;
    padding: 20px;
    
}
.btn{
    padding: 5px;
    background : #19B3D3;
    text-decoration :none;
    margin-top:10px;
    border-radius : 2px;
    font-size: 15px;
    font-weight: 600;
    color:#fff;
    border:#19B3D3 ;
}

.input{
    margin-top: 20px;
}

