.Header{
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    top: 0;
}

.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left_area h2{
    color: #fff;
    margin:0;
    text-transform: inherit;
    font-size:15px;
    text-align: center;
    margin-top: -15px;
}

.left_area span{
    color: #1DC4E7;

}

button{
    padding: 5px;
    background : #19B3D3;
    text-decoration :none;
    margin-top: -25px;
    margin-right: 40px;
    border-radius : 2px;
    font-size: 15px;
    font-weight: 600;
    color:#fff;
    border:#19B3D3 ;
}
